body {
    background-color: black;
}

.center-container {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.안내 {
    color: white;
    font-family: 'Noto Serif KR', serif;
    -webkit-animation: text-flicker-in-glow 4s linear both;
	animation: text-flicker-in-glow 4s linear both;
}

.mail {
    margin-top: 10px;
    text-align: center;
    display: none;
}