.amusement {
    
    justify-content: center;
    align-items: center;
    min: height 100px;
}



/* body {
    cursor: 후에이미지삽입하기, auto;
    position:absolute;
    width:100%;
    height:100%;
    overflow: hidden;
    text-align:center;
    color: linear-gradient(
      to right,#fbcac9, #8ca6ce
    );
  } */